body {
    background: linear-gradient(to right, rgb(0, 39, 0), rgb(238, 240, 206));
    padding: 0;
    margin: 0;

}

header {
    color: white;
    text-align: center;

}

.text {
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;

}

.flista {
    text-align: left;
}

.ftexto {
    box-sizing: 100px;
    width: autopx;
}

.section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    height: auto;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.397);
    text-align: center;
    margin: 15px;
    max-width: -webkit-fill-available;
}

.bloco {
    display: grid;
    justify-content: space-around;
    text-align: center;
}

.fbloco {
    height: 100px;
}

#horas {
    color: white;
    text-align: center;

}

li {
    font-size: 25px;
    padding: 13px;
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
}

ul#flista {
    padding: 0px 40px 0px 40px;
}

.feitos {
    text-align: left;
}

.fofeitos {
    text-align: left;
}


/* estlização do checkbox */

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    background-color: rgb(0, 39, 0);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 1px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 5px;
}

/* estilização do button */

button {
    font-size: 15px;
    font-family: Arial;
    width: 105px;
    height: 35px;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
    border-color: rgba(81, 145, 5, 1);
    font-weight: bold;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    background: rgba(0, 39, 0);
    margin: 2px 0px 2px 0px;
}

button:hover {
    cursor: pointer;
    background: rgb(0, 105, 0);
}


ul#feitos {
    padding: 0px 40px 0px 40px;
}

ul#fofeitos {
    padding: 0px 40px 0px 40px;
}
